[submodule "vendor/forge-postgres"]
	path = vendor/forge-postgres
	url = https://github.com/forge-language/forge-postgres.git
[submodule "vendor/forge-web"]
	path = vendor/forge-web
	url = https://github.com/forge-language/forge-web.git

[submodule "vendor/forge-storage"]
	path = vendor/forge-storage
	url = https://github.com/forge-language/forge-storage.git
